# Todo List Application Configuration

# Global settings
nameOverride: ""
fullnameOverride: ""

# Backend configuration
backend:
  enabled: true
  replicaCount: 2
  image:
    repository: waninoko/k8s-labs-todo-backend # e.g. waninoko/k8s-labs-todo-backend:latest
    tag: 702744e1abdc9cf5aa0c55ce2e7717d4cd1d67cf
    pullPolicy: Always

  service:
    type: NodePort
    port: 8080
    targetPort: 8080
    nodePort:
      enabled: true
      port: 32080

  env:
    corsAllowedOrigins: "http://192.168.49.2:32000"
    jwtExpirationMs: "36000000"

  resources: {}

  nodeSelector: {}
  tolerations: []
  affinity: {}

# Ingress configuration
ingress:
  enabled: true
  className: nginx
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
    nginx.ingress.kubernetes.io/enable-cors: "true"
    nginx.ingress.kubernetes.io/cors-allow-origin: "http://192.168.49.2:32000"
    nginx.ingress.kubernetes.io/cors-allow-methods: "GET, POST, PUT, DELETE, OPTIONS"
    nginx.ingress.kubernetes.io/cors-allow-headers: "Content-Type, Authorization"
  rules:
    - http:
        paths:
          - path: /
            pathType: Prefix
  tls: []


database:
  enabled: true

  service:
    type: ClusterIP
    port: 3306
    targetPort: 3306

  auth:
    rootPassword: "1234"
    database: "todolist"
    username: "root"
